.container{
    background: #ffff;
    padding: 20px;
    margin-top: 15px;
    font-size: 15px;
    
}

.images {
    width: 160px;
    height: auto;
}
.card-btn{
    background: rgb(56 189 248 / var(--tw-bg-opacity));
    font-size: 15px;
    font-weight: 700;
    color: #ffff;
    padding: 5px 20px 5px 20px;
    
}
.quantity-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
   
}
.quantity{
    font-size: 14px;
    font-weight: 700;
    text-align: center;

}

.brand{
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}
.cart-div{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.div{
    text-align: center;
}
.price{
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;

}
.decrease-btn{
    padding: 0px 8px 0px 8px;
}
